@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color:slategrey;">

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>A small MVC site by Evy Avila <br> Press the <b>Weapon</b> tab to look at the weapon collection! </p>
</div>

</body>
