@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body style="background-color:slategrey;">

<p> Guns go pew pew</p>
    <p> Based on the weapons from the game <b> <a href="https://www.bungie.net/7/en/destiny/newlight" style="color:#000aaa;"> Destiny 2 </a> </b> </p>

</body>